@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Lista de Alumnos de ejemplo";
}

<h1>@ViewBag.Title</h1>
<br />
<br />
@if(Model != null) {
    <select id="selAlumnos">
        <option value="0">Selecciona al Alumno deseado</option>
        @foreach(Webb_app_MVC_PostgreSQL_DAL.Modelos.EjemploAlumno alumnos in Model) {
            <option value="@alumnos.Id">@alumnos.AlumnoNombre</option>
        }
    </select>
}
